In [1]:
import os
from datetime import datetime
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

## Read In the data Before Black Friday

In [2]:
tracking_df = pd.read_csv('tracking.csv')
print(tracking_df.shape)

(15425, 7)

In [3]:
tracking_df.head()

,product_id,product_name,product_link,product_price,product_old_price,product_discount,Date
0,EA102EL1HFX4ENAFAMZ,Eaget Pen Flash Drive 3.0 64GB - Metal OTG Mic...,https://www.jumia.com.ng/pen-flash-drive-3.0-6...,"₦ 2,990","₦ 4,275",30%,37:05.5
1,GE779EA1BY9XTNAFAMZ,Ultra-thin Wireless Mouse 2.4G Rechargeable Si...,https://www.jumia.com.ng/generic-ultra-thin-wi...,"₦ 2,980","₦ 4,950",40%,37:05.8
2,GE779EA06FRMRNAFAMZ,HYSLGjt 128GB OTG Usb Flash Drive +micro Usb +...,https://www.jumia.com.ng/hyslgjt-128gb-otg-usb...,"₦ 3,890","₦ 5,990",35%,37:06.0
3,GE779EA2YMRZMNAFAMZ,UWY 64GB Pendrive Flash . DriveUSB 2.0 Metal H...,https://www.jumia.com.ng/uwy-64gb-pendrive-fla...,"₦ 2,120","₦ 3,876",45%,37:06.1
4,EA102EL15J90UNAFAMZ,Eaget Pen Flash Drive 3.0 32GB - Metal OTG Mic...,https://www.jumia.com.ng/pen-flash-drive-3.0-3...,"₦ 2,690","₦ 4,117",35%,37:06.3

In [4]:
tracking_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15425 entries, 0 to 15424
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         15425 non-null  object
 1   product_name       15425 non-null  object
 2   product_link       15425 non-null  object
 3   product_price      15425 non-null  object
 4   product_old_price  11433 non-null  object
 5   product_discount   11433 non-null  object
 6   Date               15425 non-null  object
dtypes: object(7)
memory usage: 843.7+ KB

In [5]:
# 1 duplicates
tracking_df.product_link.duplicated().sum()

1

### Data Cleaning

0. Drop duplicate
1. Convert product_price and product_old_price to number
2. Remove percentage symbol in product_discount column
3. Drop the Date Column

### 1. Dropping Duplicates

In [6]:
tracking_df.drop_duplicates(subset="product_link", keep=False, inplace=True)
tracking_df.product_link.duplicated().sum()

0

In [7]:
### 2. Clean Product Prices
# 1. take only lower bound for prices that are range e.g 7,000 - 8,000

tracking_df['product_price'] = tracking_df['product_price'].apply(lambda x: x.split('-')[0].strip() )
tracking_df['product_price'] = tracking_df['product_price'].str.replace(',|₦', '', regex=True)
tracking_df['product_price'] = tracking_df['product_price'].astype(float)

tracking_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15423 entries, 0 to 15424
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         15423 non-null  object
 1   product_name       15423 non-null  object
 2   product_link       15423 non-null  object
 3   product_price      15423 non-null  float64
 4   product_old_price  11431 non-null  object
 5   product_discount   11431 non-null  object
 6   Date               15423 non-null  object
dtypes: float64(1), object(6)
memory usage: 963.9+ KB

In [8]:
### 2. Clean Product Old Prices

tracking_df['product_old_price'] = tracking_df['product_old_price'].apply(lambda x: str(x).split('-')[0].strip() )
tracking_df['product_old_price'] = tracking_df['product_old_price'].str.replace(',|₦', '', regex=True)
tracking_df['product_old_price'] = tracking_df['product_old_price'].astype(float)

tracking_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15423 entries, 0 to 15424
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         15423 non-null  object
 1   product_name       15423 non-null  object
 2   product_link       15423 non-null  object
 3   product_price      15423 non-null  float64
 4   product_old_price  11431 non-null  float64
 5   product_discount   11431 non-null  object
 6   Date               15423 non-null  object
dtypes: float64(2), object(5)
memory usage: 963.9+ KB

In [9]:
### 2. Clean Product Percentages
tracking_df['product_discount'] = tracking_df['product_discount'].str.replace('%', '').astype(float)
tracking_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15423 entries, 0 to 15424
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         15423 non-null  object
 1   product_name       15423 non-null  object
 2   product_link       15423 non-null  object
 3   product_price      15423 non-null  float64
 4   product_old_price  11431 non-null  float64
 5   product_discount   11431 non-null  float64
 6   Date               15423 non-null  object
dtypes: float64(3), object(4)
memory usage: 963.9+ KB

In [10]:
### 3. Drop Date Column
tracking_df.drop(columns='Date', inplace=True)
tracking_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15423 entries, 0 to 15424
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         15423 non-null  object
 1   product_name       15423 non-null  object
 2   product_link       15423 non-null  object
 3   product_price      15423 non-null  float64
 4   product_old_price  11431 non-null  float64
 5   product_discount   11431 non-null  float64
dtypes: float64(3), object(3)
memory usage: 843.4+ KB

In [11]:
# preview the clean data
tracking_df.head()

,product_id,product_name,product_link,product_price,product_old_price,product_discount
0,EA102EL1HFX4ENAFAMZ,Eaget Pen Flash Drive 3.0 64GB - Metal OTG Mic...,https://www.jumia.com.ng/pen-flash-drive-3.0-6...,2990.0,4275.0,30.0
1,GE779EA1BY9XTNAFAMZ,Ultra-thin Wireless Mouse 2.4G Rechargeable Si...,https://www.jumia.com.ng/generic-ultra-thin-wi...,2980.0,4950.0,40.0
2,GE779EA06FRMRNAFAMZ,HYSLGjt 128GB OTG Usb Flash Drive +micro Usb +...,https://www.jumia.com.ng/hyslgjt-128gb-otg-usb...,3890.0,5990.0,35.0
3,GE779EA2YMRZMNAFAMZ,UWY 64GB Pendrive Flash . DriveUSB 2.0 Metal H...,https://www.jumia.com.ng/uwy-64gb-pendrive-fla...,2120.0,3876.0,45.0
4,EA102EL15J90UNAFAMZ,Eaget Pen Flash Drive 3.0 32GB - Metal OTG Mic...,https://www.jumia.com.ng/pen-flash-drive-3.0-3...,2690.0,4117.0,35.0

## Black Friday Records

In [12]:

blackfriday_df = pd.read_csv('products_04-11-2022_combined.csv')

for day in range(5, 29):
    day_filename = "products_{:02d}-11-2022_combined.csv".format(day)
    day_df = pd.read_csv(day_filename)
    blackfriday_df = pd.concat([blackfriday_df, day_df])

In [13]:
blackfriday_df.shape

(292677, 9)

In [14]:
blackfriday_df.head()

,Unnamed: 0,file_name,file_datetime,has_bf_label,product_name,product_categories,product_price,product_old_price,product_percentage
0,0,128gb-cruzer-glide-3.0-usb-flash-drive-sandisk...,2022-11-04 23:28:04.128734,1,SanDisk 128GB Cruzer Glide 3.0 USB Flash Drive,"Computing,Computers,Data Storage,USB Flash Drives","₦ 8,500",NaN,NaN
1,1,15.6-inch-value-topload-case-hp-mpg123014.html,2022-11-04 23:10:07.393930,1,Hp 15.6 Inch Value Topload Case,"Computing,Computers,Laptop Accessories,Bags, C...","₦ 6,400","₦ 6,500",2%
2,2,18163264gb-rotary-usb-2.0-flash-drive-memory-s...,2022-11-04 23:04:28.493043,1,UWY USB Flash Drive 64GB Pen USB 2.0 Metal Hig...,"Computing,Computers,Data Storage,USB Flash Drives","₦ 2,081","₦ 3,900",47%
3,3,1g-silicone-compound-heatsink-thermal-paste-gr...,2022-11-04 23:14:58.472082,0,1g Silicone Compound Heatsink Thermal Paste Gr...,"Computing,Computer Accessories","₦ 1,500",NaN,NaN
4,4,1more-comfobuds-pro-true-wireless-headphones-1...,2022-11-04 23:20:03.512969,0,1More Comfobuds Pro True Wireless Headphones,"Electronics,Accessories & Supplies,Audio & Vid...","₦ 42,999","₦ 50,999",16%

In [15]:
blackfriday_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292677 entries, 0 to 11924
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          292677 non-null  int64
 1   file_name           292677 non-null  object
 2   file_datetime       292677 non-null  object
 3   has_bf_label        292677 non-null  int64
 4   product_name        292677 non-null  object
 5   product_categories  292677 non-null  object
 6   product_price       292677 non-null  object
 7   product_old_price   228952 non-null  object
 8   product_percentage  228952 non-null  object
dtypes: int64(2), object(7)
memory usage: 22.3+ MB

## Data Cleaning

1. Drop the Unnamed column
2. Convert file_Datetime to datetime
3. Clean product_price,	product_old_price and product_percentage

In [16]:
#drop unamed column
blackfriday_df.drop(columns=['Unnamed: 0'], inplace=True)
blackfriday_df['file_datetime'] = pd.to_datetime(blackfriday_df['file_datetime'])
blackfriday_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292677 entries, 0 to 11924
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   file_name           292677 non-null  object
 1   file_datetime       292677 non-null  datetime64[ns]
 2   has_bf_label        292677 non-null  int64
 3   product_name        292677 non-null  object
 4   product_categories  292677 non-null  object
 5   product_price       292677 non-null  object
 6   product_old_price   228952 non-null  object
 7   product_percentage  228952 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 20.1+ MB

In [17]:
### 2. Clean Product Prices
# 1. take only lower bound for prices that are range e.g 7,000 - 8,000

blackfriday_df['product_price'] = blackfriday_df['product_price'].apply(lambda x: x.split('-')[0].strip() )
blackfriday_df['product_price'] = blackfriday_df['product_price'].str.replace(',|₦', '', regex=True)
blackfriday_df['product_price'] = blackfriday_df['product_price'].astype(float)

blackfriday_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292677 entries, 0 to 11924
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   file_name           292677 non-null  object
 1   file_datetime       292677 non-null  datetime64[ns]
 2   has_bf_label        292677 non-null  int64
 3   product_name        292677 non-null  object
 4   product_categories  292677 non-null  object
 5   product_price       292677 non-null  float64
 6   product_old_price   228952 non-null  object
 7   product_percentage  228952 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 20.1+ MB

In [18]:
### 2. Clean Product Old Prices

blackfriday_df['product_old_price'] = blackfriday_df['product_old_price'].apply(lambda x: str(x).split('-')[0].strip() )
blackfriday_df['product_old_price'] = blackfriday_df['product_old_price'].str.replace(',|₦', '', regex=True)
blackfriday_df['product_old_price'] = blackfriday_df['product_old_price'].astype(float)

blackfriday_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292677 entries, 0 to 11924
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   file_name           292677 non-null  object
 1   file_datetime       292677 non-null  datetime64[ns]
 2   has_bf_label        292677 non-null  int64
 3   product_name        292677 non-null  object
 4   product_categories  292677 non-null  object
 5   product_price       292677 non-null  float64
 6   product_old_price   228952 non-null  float64
 7   product_percentage  228952 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 20.1+ MB

In [19]:
### 2. Clean Product Percentages
blackfriday_df['product_discount'] = blackfriday_df['product_percentage'].str.replace('%', '').astype(float)
blackfriday_df.drop(columns=['product_percentage'], inplace=True)
blackfriday_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292677 entries, 0 to 11924
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   file_name           292677 non-null  object
 1   file_datetime       292677 non-null  datetime64[ns]
 2   has_bf_label        292677 non-null  int64
 3   product_name        292677 non-null  object
 4   product_categories  292677 non-null  object
 5   product_price       292677 non-null  float64
 6   product_old_price   228952 non-null  float64
 7   product_discount    228952 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 20.1+ MB

## Questions 

1. `How many products actually have real discounts `
2. `How many products have fake discounts `
3. `What are the Max and Min Discounts on products`

In [48]:


blackfriday_df_group = blackfriday_df.groupby("file_name").apply(lambda x: x.sort_values(["product_price"], ascending = True))

In [57]:
blackfriday_df_grouped = blackfriday_df.groupby("file_name")
blackfriday_best = []
for name, df in blackfriday_df_grouped:
    blackfriday_best.append(list(df.sort_values(by=["product_price"], ascending=True).reset_index().iloc[0]))
    
blackfriday_best_df = pd.DataFrame(blackfriday_best)

,0,1,2,3,4,5,6,7,8
0,0,1-to-1-gluten-free-baking-flour-44oz-2lbs-1.24...,2022-11-05 07:40:02.126957,1,Bob'S Red Mill 1 To 1 Gluten Free Baking Flour...,"Grocery,Cooking & Baking,Flours & Meals,Barley...",11000.0,NaN,NaN
1,1,1-to-1-gluten-free-baking-flour-64oz-4lbs-bobs...,2022-11-05 07:10:56.757004,0,Bob'S Red Mill 1 To 1 Gluten Free Baking Flour...,"Grocery,Cooking & Baking,Flours & Meals,Barley...",16800.0,NaN,NaN
2,2,1.5l-multipurpose-blender-with-smoothie-maker-...,2022-11-05 07:13:15.942507,1,Binatone 1.5L Multipurpose Blender With Smooth...,"Home & Office,Home & Kitchen,Kitchen & Dining,...",16900.0,18590.0,9.0
3,3,10-litres-heavy-duty-stand-mixer-sokany-mpg167...,2022-11-05 07:16:18.603034,1,Sokany 10 Litres Heavy Duty Stand Mixer,"Home & Office,Small & Cooking Appliances,Small...",140000.0,NaN,NaN
4,4,100-genuine-ink-445-black-and-446-colour-canon...,2022-11-05 06:41:46.544072,1,Canon 100% Genuine Ink 445 Black And 446 Colour,"Computing,Computer Accessories,Printer Ink & T...",24900.0,32140.0,23.0

In [61]:
blackfriday_best_df.drop(columns=0, inplace=True)

In [62]:
blackfriday_best_df.columns = blackfriday_df.columns
blackfriday_best_df.head()

,file_name,file_datetime,has_bf_label,product_name,product_categories,product_price,product_old_price,product_discount
0,1-to-1-gluten-free-baking-flour-44oz-2lbs-1.24...,2022-11-05 07:40:02.126957,1,Bob'S Red Mill 1 To 1 Gluten Free Baking Flour...,"Grocery,Cooking & Baking,Flours & Meals,Barley...",11000.0,NaN,NaN
1,1-to-1-gluten-free-baking-flour-64oz-4lbs-bobs...,2022-11-05 07:10:56.757004,0,Bob'S Red Mill 1 To 1 Gluten Free Baking Flour...,"Grocery,Cooking & Baking,Flours & Meals,Barley...",16800.0,NaN,NaN
2,1.5l-multipurpose-blender-with-smoothie-maker-...,2022-11-05 07:13:15.942507,1,Binatone 1.5L Multipurpose Blender With Smooth...,"Home & Office,Home & Kitchen,Kitchen & Dining,...",16900.0,18590.0,9.0
3,10-litres-heavy-duty-stand-mixer-sokany-mpg167...,2022-11-05 07:16:18.603034,1,Sokany 10 Litres Heavy Duty Stand Mixer,"Home & Office,Small & Cooking Appliances,Small...",140000.0,NaN,NaN
4,100-genuine-ink-445-black-and-446-colour-canon...,2022-11-05 06:41:46.544072,1,Canon 100% Genuine Ink 445 Black And 446 Colour,"Computing,Computer Accessories,Printer Ink & T...",24900.0,32140.0,23.0

In [63]:
blackfriday_best_df.shape

(15013, 8)